.signInContainer {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.signOutButton {
  background-color: transparent;
  border: 1px solid #d2d2d7;
  color: #1d1d1f;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signOutButton:hover {
  background-color: #f5f5f7;
}
